.header-bar{
    background-color: rgb(33, 33, 77);
}

.pointer{
    cursor: pointer!important;
    z-index: 10;
}

.navHeader{
    display: -webkit-inline-flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
        }
    }
    