<section>
    <mat-card *ngIf="data" class="graph-card mat-elevation-z5" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)">
        <div (click)="navigate()" class="pointer">
            <mat-card-header>

                <mat-card-title>{{data.name}}</mat-card-title>

            </mat-card-header>
            <mat-card-content>
                <div>
                    <app-graph *ngIf='data' [maxHeight]='350' [graphData]='data.data'></app-graph>
                </div>
            </mat-card-content>
        </div>

        <mat-card-actions>
            <button mat-fab color="primary" class="delete-graph" (click)="deleteGraph()" aria-label="Delete Graph">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</section>