.graph-body{
    overflow-x: hidden;
    overflow-y: hidden;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .searchContainer{
        margin: 0 10px 0 10px!important;
    }
}
