<div class="graph-body" *ngIf="location.pathname != '/graphView'">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="sticky-top">
        <app-navbar [navText]="navText"></app-navbar>

        <div class="searchContainer">
          <app-search (searchInputValue)="callSearch($event)"></app-search>
        </div>
      </div>
      <div>
        <app-landing-page [searchInputValue]="searchInputValue"></app-landing-page>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>